extends layout

block body
  div(ng-controller='AppCtrl')

    .chat_container(ng-repeat='c in conversations')
      .chat_container_user(ng-show='c.type == "private"')
        h3 chat with {{c.to}}
        .message_container
          .messages
            p(ng-repeat='m in c.messages',
              ng-class='{alert: m.user == "chatroom"}') {{m.user}}: {{m.message}}
          p.send_message
            form(ng-submit='sendMessage(c.from, c.to, message, "private");message="";')
              input(size='40', ng-model='message')
              input(type='submit', value='Send')
      .chat_container_user(ng-show='c.type == "group"')
          h3 chat in group {{c.to}}
          .message_container
            .messages
              p(ng-repeat='m in c.messages',
                ng-class='{alert: m.user == "chatroom"}') {{m.user}}: {{m.message}}
            p.send_message
              form(ng-submit='sendMessage(c.from, c.to, message, "group");message="";')
                input(size='40', ng-model='message')
                input(type='submit', value='Send')

    .user_container
      h3 {{user}}
      .group_container
        ul.ul_group(ng-init='li_current="friends"')
          li.li_group(ng-class='{li_current: li_current == "friends"}', ng-click='li_current="friends"') friends
          li.li_group(ng-class='{li_current: li_current == "groups"}', ng-click='li_current="groups"') groups
        .user_list.friends_list(ng-show='li_current == "friends"')
          ul
            li(ng-repeat='user in users')
              a(ng-click="talkto(user, 'private')"){{user}}
        .user_list.groups_list(ng-show='li_current == "groups"')
          ul
            li(ng-repeat='g in groups')
              a(ng-click="talkto(g.name, 'group')") {{g.name}}

  script(type="text/javascript").
    var name = "#{user.username}";
    var email = "#{user.email}";
  script(src='/js/lib/jquery.min.js')
  script(src='/js/lib/socket.io.js')
  script(src='/js/lib/pomeloclient.js')
  script(src='/js/lib/underscore.js')
  script(src='/js/app.js')
  script(src='/js/controllers.js')
  script(src='/js/filters.js')
  script(src='/js/directives.js')
