extends layout

block body
  div(ng-controller='AppCtrl')
    .chat_container
      h3 Messages
      .message_container
        p(ng-repeat='message in messages',
          ng-class='{alert: message.user == "chatroom"}') {{message.user}}: {{message.text}}

    .user_container
      h3 {{name}}
      .group_container
        ul.ul_group(ng-init='li_current="friends"')
          li.li_group(ng-class='{li_current: li_current == "friends"}', ng-click='li_current="friends"') friends
          li.li_group(ng-class='{li_current: li_current == "groups"}', ng-click='li_current="groups"') groups
        .user_list.friends_list(ng-show='li_current == "friends"')
          ul
            li(ng-repeat='user in users')
              a(ng-click='talkto({{user}})'){{user}}
        .user_list.groups_list(ng-show='li_current == "groups"')
          p 123123
      

    .clr.send
      form(ng-submit='sendMessage()')
        input(size='60', ng-model='message')
        input(type='submit', value='Send')

    .clr
      h3 Change your name
      p Your current user name is {{name}}
      form(ng-submit='changeName()')
        input(ng-model='newName')
        input(type='submit', value='Change Name')

  script(src='js/lib/angular/angular.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
