extends layout

block body
  div(ng-controller='AppCtrl')

    .user_container
      h3 {{user}}
      .group_container
        ul.ul_group(ng-init='li_current="friends"')
          li.li_group(ng-class='{li_current: li_current == "friends"}', ng-click='li_current="friends"') friends
          li.li_group(ng-class='{li_current: li_current == "groups"}', ng-click='li_current="groups"') groups
        .user_list.friends_list(ng-show='li_current == "friends"')
          ul
            li(ng-repeat='user in users')
              a(ng-click="talkto(user)"){{user}}
        .user_list.groups_list(ng-show='li_current == "groups"')
          ul
            li(ng-repeat='g in groups')
              a(ng-click="talktoGroup({name: g.name, id: g.id}, user)") {{g.name}}

  script(type="text/javascript").
    var name = "#{user.username}";
    var email = "#{user.email}";
  script(src='/js/lib/jquery.min.js')
  script(src='/js/lib/socket.io.js')
  script(src='/js/lib/pomeloclient.js')
  script(src='/js/lib/underscore.js')
  script(src='/js/app.js')
  script(src='/js/controllers.js')
  script(src='/js/filters.js')
  script(src='/js/directives.js')
